<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded">
  <h2 class="text-2xl font-semibold mb-6 text-center">プロフィール編集</h2>
  <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :full_name, "名前", class: "block font-medium mb-1" %>
      <%= f.text_field :full_name, class: "w-full border rounded p-2" %>
    </div>
    <div class="mb-4">
      <%= f.label :age_group, "年齢", class: "block font-medium mb-1" %>
      <%= f.select :age_group, [['10歳未満', '0'], ['10代', '10'], ['20代', '20'], ['30代', '30'], ['40代', '40'], ['50代以上', '50']], { include_blank: "選択してください" }, { class: "w-full border rounded p-2"} %>
    </div>
    <div class="text-center">
      <%= f.submit "更新する", class: "bg-blue-500 text-white px-4 py-2 mt-6 rounded hover:bg-blue-600" %>
    </div>
  <% end %>
  <div class="text-center mt-4">
    <%= link_to "戻る", user_path, class: "text-blue-500 hover:underline" %>
  </div>
</div>
