<div class="h-full w-full bg-gray-50 flex flex-col">
  <div class="max-w-4xl mx-auto space-y-10">
    <!-- タイトル -->
    <h1 class="text-3xl font-bold text-center text-gray-800 border-b border-gray-200 pb-4">
      マイページ
    </h1>

    <!-- ユーザー情報カード -->
    <section class="bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-4 border-b border-gray-200 pb-2">
        ユーザー情報
      </h2>

      <div class="space-y-2 text-gray-700">
        <p><strong>氏名：</strong><%= @user.full_name %></p>
        <p><strong>メール：</strong><%= @user.email %></p>
        <p><strong>年代：</strong><%= @user.age_group %></p>
      </div>

      <div class="text-right mt-4">
        <%= link_to "プロフィールを編集", edit_user_path, class: "inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition" %>
      </div>
    </section>

    <!-- カレンダーセクション -->
    <section class="bg-white shadow-md rounded-lg p-6">
      <h3 class="text-3xl font-bold text-center text-gray-800 border-b border-gray-200 pb-4">予約日</h3>
        <%= month_calendar events: @events do |date, events| %>
          <% events.each do |event| %>
            <p class="text-xs text-indigo-500 truncate hover:underline">
              <%= link_to event.title, event %>
            </p>
          <% end %>
        <% end %>
      <%= link_to "予約日を作成する", new_event_path, class: "inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition" %>
    </section>
  </div>
</div>
