<div class="flex-1 flex flex-col w-full">
  <div class="bg-blue-50 p-3 mb-8 border-b border-blue-100 text-center">
    <% total_questions = 8 %> <% current_number = @answers.count + (@current_question.present? ? 1 : 0) %>
    <p class="text-sm text-blue-600 font-bold">
      質問 <%= current_number %> / <%= total_questions %>
    </p>
    <div class="w-full bg-gray-200 h-2 rounded-full mt-2">
      <div class="bg-blue-500 h-2 rounded-full transition-all duration-500" style="width: <%= (current_number.to_f / total_questions * 100).to_i %>%"></div>
    </div>
  </div>
    <!-- チャットメッセージの表示エリア -->
    <% @answers.each do |answer| %>
      <div class="flex justify-start mb-4">
        <div class="bg-gray-200 text-gray-800 p-3 rounded-lg rounded-bl-none max-w-xs md:max-w-md lg:max-w-lg">
          <!-- 質問部分 -->
          <p><%= answer.question %></p>
        </div>
      </div>
      <div class="flex justify-end mb-4">
        <div class="bg-blue-500 text-white p-3 rounded-lg rounded-br-none max-w-xs md:max-w-md lg:max-w-lg">
          <!-- 回答部分 -->
          <p><%= answer.answer %></p>
        </div>
      </div>
    <% end %>
    <!-- 現在の質問がある場合に表示 -->
    <% if @current_question.present? %>
      <div class="flex justify-start mb-4">
        <div class="bg-gray-200 text-gray-800 p-3 rounded-lg rounded-bl-none max-w-xs md:max-w-md lg:max-w-lg">
          <!-- 現在の質問部分 -->
          <p><%= @current_question %></p>
        </div>
      </div>
    <% end %>
  </div>
  <% if @current_question.present? %>
    <!-- model: @answer: formの入力内容を@answerというオブジェクトに紐づけし、url: answers_path: フォームの送信先をAnswersControllerのcreate -->
    <%= form_with model: @answer, url: answers_path, local: true, class: "flex items-center w-full bg-white p-2 border-t border-gray-300" do |form| %>
      <!-- hidden_field: ユーザーには見えない隠しフィールドを生成しvalue: @consultation.id: ここに、現在のカウンセリングのIDをセット -->
      <%= form.hidden_field :consultation_id, value: @consultation.id %>
      <%= form.hidden_field :question, value: @current_question %>
      <!-- text_field: ユーザーが回答を入力するためのテキストフィールドを生成 -->
      <div class="flex-grow mr-2"> <%= form.text_field :answer, placeholder: "メッセージを入力", class: "w-full border rounded-full py-2 px-4 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
      <div> <%= form.submit "送信", class: "bg-blue-500 text-white rounded-full py-2 px-4 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer whitespace-nowrap" %> </div>
    <% end %>
  <% end %>
</div>
